// font family
$ff-body = JetBrains Mono, "LXGW WenKai Screen", system-ui
$ff-code = JetBrains Mono, system-ui

// font size
$fs-root = 17px
$fs-15 = .9375rem
$fs-14 = .875rem
$fs-13 = .8125rem
$fs-12 = .875rem
$fs-p    = $fs-15
$fs-code = 0.9em

// 深色
$dark-site-bg = #212222
$dark-title = #fffff8
$dark-card = #1c1d1d

// li标签下的code字号设置
code {
    font-size: 0.875rem !important;
}

// table center
table:not([class]) {
  width: fit-content;
  margin-left: auto !important;
  margin-right: auto !important;
}

// waline power
.wl-power {
  display: none !important;
}

.l_left .widgets .widget-wrap#recent .widget-body a{
  font-size: 0.9rem !important;
}
